<form{{ attributes }}>
  {{ form.message }}
  <div>
    {{ form.identificacion }}
    {{ form.nombre }}
    {{ form.fecha }}
    {{ form.cargo }}
  </div>
  <div class="actions">
    {{ form.actions }}
  </div>

  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
</form>

